node_modules
tools/tides
tiles/
**/*.png
log.*
*.tgz
*.zip

geonames.json
US
US.txt

alertify.min.js
jquery.min.js
alertify.bootstrap.css
alertify.core.css
alertify.default.css
keyboard.min.css
jquery.keyboard.min.js
bootstrap.min.js
bootstrap.min.css
