node_modules
tools/tides
tiles/
**/*.png
log.*
*.tgz
*.zip

geonames.json
US
US.txt
CA
CA.txt

public/lib/*
public/status*

alertify.bootstrap.css
alertify.core.css
alertify.default.css
keyboard.min.css
bootstrap.min.css
